@model Vegetable.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="body-wrapper">
    <div class="card mb-0">
        <div class="card-body">
            <p><b>Thêm mới sản phẩm</b></p>
            <form asp-action="Create" method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="ProductId" class="control-label">ProductID</label>
                        <input asp-for="ProductId" class="form-control" />
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="ProductName" class="control-label">Tên sản phẩm</label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="CategoryId" class="control-label">Danh mục</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                            <option value="0" selected>--[Chọn danh mục]--</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ImageUrl" class="control-label">Chọn Ảnh</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-success" onclick="openDialog()">Choose a picture</button>
                            </div>
                            <input type="text" class="form-control" id="file_input" asp-for="ImageUrl" aria-describedby="button-addon2" />
                        </div>
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>

                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Price" class="control-label">Giá</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="PriceSale" class="control-label">Giá giảm</label>
                        <input asp-for="PriceSale" class="form-control" />
                        <span asp-validation-for="PriceSale" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Weight" class="control-label">Khối lượng</label>
                        <input asp-for="Weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="StockQuantity" class="control-label">Số lượng</label>
                        <input asp-for="StockQuantity" class="form-control" />
                        <span asp-validation-for="StockQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Star" class="control-label">Sao</label>
                        <input asp-for="Star" class="form-control" />
                        <span asp-validation-for="Star" class="text-danger"></span>
                    </div>
                    <div class="form-group form check">
                        <label class="form-checked-input">
                            <input class="form-check-input" asp-for="IsActive" /> Hiển thị
                        </label>
                    </div>
                    <div class="form-group mb-3">
                        <input type="submit" value="Thêm mới" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@