@model Vegetable.Models.Contact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="body-wrapper">
    <div class="card mb-0">
        <div class="card-body">
            <legend><b>Sửa bài viết</b></legend>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ContactId" />
                <div class="form-group mb-3">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="InquiryMessage" class="control-label"></label>
                    <input asp-for="InquiryMessage" class="form-control" />
                    <span asp-validation-for="InquiryMessage" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
