@model Vegetable.Models.AdminUser
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="~/admin/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/admin/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/admin/assets/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Tạo tài khoản của bạn</p>
                                <form method="post" asp-action="Index" asp-controller="Register">
                                    <!-- Username -->
                                    <div class="mb-3">
                                        <label for="yourName" class="form-label">Tên người dùng</label>
                                        <input type="text" asp-for="Username" class="form-control" id="yourName" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>

                                    <!-- Email -->
                                    <div class="mb-3">
                                        <label for="yourEmail" class="form-label">Email đăng nhập</label>
                                        <input type="email" asp-for="Email" class="form-control" id="yourEmail" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <!-- Password -->
                                    <div class="mb-4">
                                        <label for="yourPassword" class="form-label">Mật khẩu</label>
                                        <input type="password" asp-for="Passwords" class="form-control" id="yourPassword" />
                                        <span asp-validation-for="Passwords" class="text-danger"></span>
                                    </div>

                                    <!-- Điều khoản -->
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" asp-for="IsActive" type="checkbox" id="isActive" />
                                        <label class="form-check-label" for="isActive">
                                            Tôi đồng ý với các điều khoản sử dụng
                                        </label>
                                        <span asp-validation-for="IsActive" class="text-danger"></span>
                                    </div>

                                    <!-- Nút Đăng Ký -->
                                    <button type="submit" class="btn btn-primary w-100">Đăng Ký</button>
                                </form>

                                <!-- Đăng nhập -->
                                <div class="d-flex align-items-center justify-content-center mt-3">
                                    <p class="fs-3 mb-0">Bạn đã có tài khoản?</p>
                                    <a class="text-primary fw-bold ms-2" href="~/Admin/Login/Index">Đăng nhập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>