@model IEnumerable<Vegetable.Models.Menu>

<ul>
    @foreach (var item in Model.Where(i => i.Parent == null))
    {
        <li class="@(item.Alias == "home" ? "active" : "")">
            <a href="/@item.Alias">@item.Title</a>
            @if (Model.Any(i => i.Parent != null && i.Parent == item.MenuId))
            {
                <ul class="header__menu__dropdown">
                    @foreach (var subItem in Model.Where(i => i.Parent == item.MenuId))
                    {
                        <li><a href="/@subItem.Alias">@subItem.Title</a></li>
                    }
                </ul>
            }
        </li>

    }
</ul>
